 h1 {color: red;
     background-color: rgb(255,255,51);
     font-weight: bold;
     font: 15px;  
     font-family: fantasy,cursive;
             text-align: center;
             border:  3px solid blue;
             margin-top: 0px;
             margin-left: 30%;
             margin-right: 30%; /*30%*/
            }    
 h4 {color: red;
     background-color: rgb(255,255,51);
     font-weight: bold;
     font: 15px;  
     font-family: fantasy,cursive;
             text-align: center;
             border:  3px solid blue;
             margin-top: 400px;
             margin-left: 55%;
             margin-right: 10%;  
            margin-bottom: 350px;    
            }    
     #container-page {
         width: 1450px; 
         height: 1000px;
   /*    margin: auto; */
         border:  3px solid blue;
         padding: 10px;
         background-color: lightblue;
         z-index: 1;
            }        
 
  #pic {
         width: 250px; height: 175px; 
         position: absolute;
           border:  3px solid blue;
            top: 40px;
            left: 10px;
            padding: 3px;
            z-index: 3;
            }           
        #pic-words {
         width: 200px; height: 15px; 
         position: absolute;
            top: 200px;
            left:55px;
            font-size: 20px;
            z-index: 4;
            }                
      #container-page-1 {
         width: 550px; 
         height: 500px;
        margin: auto; 
         border:  3px solid blue;
         padding: 10px;
         background-color: lightblue;
         z-index: 5;
            }      
        #drive-words-1  
         width: 400px; height: 15px; 
         position: absolute;
            top: 200px;
            left:55px;
            font-size: 20px;
            z-index: 6;
            }                
       #lat-sidebar {
               width: 250px; height: 175px; 
                background: lightgreen;  
                color: blue;
                font-family: monospace,cursive;
                 font-size:15px;
                 font-weight:bold;
                 border: 3px solid darkgreen;
                 padding: 10px;   
                 position:absolute;
                top: 45px;
                left: 1200px;
            }  
.btn-lodge {
          border: none;
          position: absolute;
          top: 260px;
          left: 45px;
          padding: 5px 16px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 30px;
          margin: 4px 2px;
          cursor: pointer;
         }
   .button-color-blue
         {color:white!import;background-color:blue!important}
   .button-color-red
         {color:white!important;background-color:red!important}
   .button-color-green
         {color:white!important;background-color:green!important}
   .button-color-orange
         {color:white!important;background-color:orange!important}
   .button-color-brown
         {color:white!important;background-color:brown!important}
   .button-color-black
         {color:white!important;background-color:black!important}
   .button-color-yellow
         {color:black!important;background-color:yellow!important}

.btn-rental {
          border: none;
          position: absolute;
          top: 260px;
          left: 250px;
          padding: 5px 16px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 30px;
          margin: 4px 2px;
          cursor: pointer;
         }
.btn-museum {
          border: none;
          position: absolute;
          top: 260px;
          left: 555px;
          padding: 5px 16px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 30px;
          margin: 4px 2px;
          cursor: pointer;
         }
.btn-driving {
          border: none;
          position: absolute;
          top: 260px;
          left: 760px;
          padding: 5px 16px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 30px;
          margin: 4px 2px;
          cursor: pointer;
         }
        h2 {color: black; 
            background-color: YELLOW;
             margin-top: 10%;
            text-align: center; font-family: cursive,monospace; width:200px;}
        h3 {color: black;
            background-color: tan;
            text-align: center;}
              
 /*  let these default to nomral colors  a:link {
            color: green;
            background-color: transparent;
            text-decoration: none;
             } 

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}  */
             
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: blue;
  text-decoration: underline;
}
  div-li {
  color: maroon;
  font-size: 20px;
} 
 .alnright { text-align: right; }   
         
